/* removing all titles automatic */
.markdown-embed-title {
  display: none;
}

.markdown-embed::before { 
    content: attr(alt);
    font-size: 0.9em; 
    font-weight: 600; 
    color: rgb(190, 166, 247); 
    font-style: bold;
}

.markdown-embed {
    border-left: none;
}