/* removing all titles automatic */
.markdown-embed-title {
  display: none;
}

/* add custom embed title and font*/
.markdown-embed::before { 
  content: attr(src);
  font-size: 0.9em; 
  font-weight: bold; 
  color: rgb(229, 192, 123);
}

/* remove h3 embed title for quotes */
.markdown-preview-view .el-h3{
  display: none;
}

/* i used to remove the left border to not have two vertical bars upon quotes but now i dont put quotes in source files */
.markdown-embed {
    border-left: none;
}