
/* Base styles for all embeds */
.internal-embed {
  background-color: rgb(51, 55, 63);
  border-left: none;
}

.internal-embed[src*="#"] .el-h3{
  display: none;
}

.internal-embed[src*="#"]::before {
  content: attr(alt);
  color: rgb(229, 192, 123);
}